.mode-excerpt {
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    height: 12.5vh;
    padding: 3vh 1vh;
    gap: 2vh;
    width: 90%;
    background-color: #fff;

    cursor: pointer;

    .mode-image {
        display: flex;
        flex-direction: column;
        width: 20%;
        justify-content: center;
        align-items: center;
        background-color: cadetblue;
        border-radius: 50%;

        font-family: var(--mfont-family);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .mode-info {
        display: flex;
        flex-direction: column;
        width: 69%;
        justify-content: center;
        gap: 1vh;
        font-family: var(--ofont-family);

        p:first-child {
            font-weight: 600;
            font-size: 1.15rem;
            color: var(--color-bg);
        }

        p:last-child {
            font-weight: 400;
            font-size: 1rem;
        }
    }

    .play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;

        .quiz-play_button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 80%;
            border: none;
            border-radius: 50%;
    
            background-color: var(--color-bg);
    
            cursor: pointer;
        }
    }
    
}