.tile--subject {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: hsla(191, 100%, 43%, 0.4);
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;

    img {
        padding-bottom: 5px;
    }

    .name {
        font-family: var(--ofont-family);
        font-weight: 600;
        text-align: center;
    }
}

.tile--grade {
    display: flex;
    width: 12.5vh;
    height: 12.5vh;
    background-color: #00B4DD;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    cursor: pointer;

    p {
        font-family: var(--ofont-family);
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
    }
}

.tile--option {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #dddddd;
    padding: 3vh 2vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    text-align: center;
    font-family: var(--ofont-family);
    font-size: 1.1rem;
    font-weight: 600;

    cursor: pointer;
}

.selected {
    background-color: #0077A2;
}

.booster-tile {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    height: 21vh;
    margin-bottom: 2vh;
    background-color: var(--color-bg);
    padding: 1vh;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5vh;

    cursor: pointer;

    p {
        color: #fff;
        font-family: var(--ofont-family);
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
    }

    img {
        width: 50%;
        height: 40%;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 5vh;
        background-color: #98EDFF;
        border-radius: 1vh;

        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);

        p {
            color: #000;
        }
    }
}



.stat-tile {
    display: flex;
    width: calc(50% - 3vh);
    margin-bottom: 3vh;
    background-color: #96BFE5;
    padding: 2vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 2vh;
    border-bottom-left-radius: 2vh;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--mfont-family);
        font-weight: 500;
        white-space: nowrap;
    }

    div:nth-child(1) {
        width: 65%;
        justify-content: flex-start;
    }

    div:nth-child(2) {
        width: 35%;
    }
}