.profile {
    padding: 0 1vh;
    .profile-header {
        display: flex;
        flex-direction: column;
        width: 100%;

        .profile-header_banner {
            height: 20vh;
        }

        .profile-header_info {
            display: flex;
            justify-content: space-evenly;
            background-color: var(--color-bg);
            border-top-left-radius: 2vh; 
            border-top-right-radius: 2vh; 
        }

        .profile-header_info--first {
            width: 30%;

            .profile-header_info--first__avatar {
                justify-content: center;
                margin-top: -5vh;

                img {
                    border: 0.5vh solid #D9D9D9;
                    border-radius: 50%;
                    margin: 0 1vh 1vh;
                }
            }
        }

        .profile-header_info--second {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            gap: 3vh;

            .profile-header_info--second__username {
                margin-top: -3vh;
                font-family: var(--mfont-family);
                font-weight: 600;
                font-size: 1.25rem;
                white-space: nowrap;
            }

            .profile-header_info--second__info {
                display: flex;
                height: 100%;
                width: 100%;
                color: white;
                margin-bottom: 2vh;
                
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    font-family: var(--mfont-family);
                    font-weight: 500;
                    font-size: 1.1rem;
                    white-space: nowrap;
                }
            }
        }

        .profile-header_info--badges {
            display: flex;
            background-color: var(--color-bg);
            height: 15vh;
            justify-content: space-evenly;
            align-items: center;

            img {
                width: 20%;
            }
        }
        
    }
}
