.capsule--left {
    width: 14vh;
    height: 7vh;
    text-align: center;
    padding: 2vh;
    border-radius: 14px 0 0 14px;
    font-size: 1.25rem;
    font-weight: bold;
}

.capsule--middle {
    width: 14vh;
    height: 7vh;
    text-align: center;
    padding: 2vh;
    font-size: 1.25rem;
    font-weight: bold;
}

.capsule--right {
    width: 14vh;
    height: 7vh;
    text-align: center;
    padding: 2vh;
    border-radius: 0 14px 14px 0;
    font-size: 1.25rem;
    font-weight: bold;
}