.annotation {
    position: absolute;
    top: 1;
    left: 1;
    z-index: 1;
    width: 100px;
    color: #fff;
    border-radius: 0.5em;
    font-size: 12px;
    line-height: 1.2;
    transition: opacity 0.5s;
    // &::before {
    //     content: '1';
    //     position: absolute;
    //     top: -30px;
    //     left: -30px;
    //     width: 30px;
    //     height: 30px;
    //     border: 2px solid #fff;
    //     border-radius: 50%;
    //     font-size: 16px;
    //     line-height: 30px;
    //     text-align: center;
    //     background: rgba(0, 0, 0, 0.8);
    // }
}
  
.circleMark {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    padding: 0.1vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border: 2px solid #fff;
    cursor: pointer;
}
  
.box {
    cursor: pointer;
    .boxInner {
        padding: 0.5vw 1vw;
        background: rgba(0, 0, 0, 0.8);
    }
}

  // #number {
  //     position: absolute;
  //     z-index: -1;
  // }