.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;           
}

.booster-modal {
    background-color: #0C0D2F;
    padding: 2vh;
    border-radius: 2vh 2vh 0 0;
    max-width: 100%;
    color: white;
    margin-bottom: 10vh;

    font-family: var(--ofont-family);

    .header-nontext {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 2vh 0;
        
        .price {
            display: flex;
            width: 30%;
            justify-content: center;
            align-items: center;
            background-color: #050652;
            padding: 1vh;
            border-radius: 1vh;

            img {
                width: 4vh;
                margin-right: 0.5vh;
            }

            p {
                font-weight: 500;
            }
        }

        .booster-image {
            width: 40%;
            display: flex;
            justify-content: center;

            img {
                width: 10vh;
            }
        }

        .quantity-capsule {
            width: 30%;
            display: flex;
            justify-content: center;

            .capsule-container {
                margin: 0;

                .capsule--left {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5vh;
                }

                .capsule--right {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 5vh;
                    cursor: pointer;
                }
            }
        }
    }

    .header-text {
        display: flex;
        
        padding: 0 0 2vh 0;
        text-align: center;
        align-items: center;

        .booster-name {
            width: 50%;

            p {
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        .booster-rarity {
            width: 50%;

            p {
                font-size: 1.1rem;
                font-weight: 600;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 0 2vh;
        text-align: center;
        gap: 2vh;
        align-items: center;

        .content-buy {
            font-family: var(--ofont-family);
            font-size: 1.15rem;
            font-weight: 600;
            background-color: #050652;
            border: none;
            border-radius: 1vh;
            color: var(--color-text);
            
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4vh;
            padding: 2vh;
            min-width: 15vh;

            cursor: pointer;
        }

        .content-buy:disabled {
            background-color: rgba(185, 91, 91, 0.5);
            cursor: not-allowed;
        }
    }
}

.booster-Common {
    color: rgb(77, 139, 215);
}

.booster-Rare {
    color: #27ae60;
}

.booster-Epic {
    color: #9b59b6;
}

.booster-Legendary {
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%);
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
}

.quiz-intro-modal {
    margin-bottom: 90vh;
    width: 100%;
    z-index: 10;
    background-color: #eeeeee;
    border-radius: 22px 22px 0 0;

    .section-starter--quiz-name {
        h1 {
            padding-top: 2vh;
            font-family: var(--mfont-family);
            font-size: 1.8rem;
        }
    }
    
    .section-starter--quiz-type {
        font-family: var(--ofont-family);
    }
    
    .quiz-intro--section-starter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .section-starter--ellipse {
      background-color: #a4a3a3;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      margin: 10% 0 5% 0;
      z-index: 1;
    }
    
    .quiz-intro--section-overview {
        display: flex;
        flex-direction: column;
        padding: 4%;
    
        .section-overview--heading {
            font-family: var(--mfont-family);
            padding: 2%;
        }
    
        .section-overview--quiz-description {
            background-color: #a4a3a3;
            border-radius: 14px;
            height: 12vh;
            font-family: var(--ofont-family);
            
            p {
                padding: 4%;
            }
        }
    }
    
    .section-rewards--headings {
        display: flex;
        justify-content: space-between;
        padding: 6%;
        font-family: var(--mfont-family);
    }
    
    .capsule-container {
        font-family: var(--mfont-family);
    }
    
    .quiz-intro--start-button {
        width: fit-content;
        margin: auto;
    }
    
    .quiz-intro--start-button button{
        border: none;
        background-color: #03045E;
        color: #eeeeee;
        width: 20vh;
        height: 7vh;
        border-radius: 12px;
        font-size: 1.2rem;
        padding: 2vh;
        margin: 2vh;
        cursor: pointer;
    }
}