.learn__softend-content-title {
    text-align: center;
    font-family: var(--ofont-family);
    font-size: 3rem;
    font-weight: 600;
}

.learn__softend-content__dotvector {
    margin-top: 2.5rem;
    text-align: center;
    height: 17rem;
}