.extra-box {
  width: 100%;
  height: 10vh;
}

.section-starter--quiz-name {
    margin-top: 2%;
    h1 {
        font-family: var(--mfont-family);
        font-size: 1.8rem;
    }
}

.section-starter--quiz-type {
    font-family: var(--ofont-family);
}

.quiz-body--intro {
    top: -2vh;
    width: 100%;
    height: 92vh;
    position: absolute;
    z-index: 1;
    background-color: #eeeeee;
    border-radius: 22px 22px 0 0;
}


.quiz-intro--section-starter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-starter--ellipse {
  background-color: #a4a3a3;
  border-radius: 75px;
  height: 120px;
  width: 120px;
  margin: 10% 0 5% 0;
  z-index: 1;
}

.quiz-intro--section-overview {
    display: flex;
    flex-direction: column;
    padding: 4%;

    .section-overview--heading {
        font-family: var(--mfont-family);
        padding: 2%;
    }

    .section-overview--quiz-description {
        background-color: #a4a3a3;
        border-radius: 14px;
        height: 12vh;
        font-family: var(--ofont-family);
        
        p {
            padding: 4%;
        }
    }
}

.section-rewards--headings {
    display: flex;
    justify-content: space-between;
    padding: 6%;
    font-family: var(--mfont-family);
}

.capsule-container {
    font-family: var(--mfont-family);
}

.quiz-intro--start-button {
    width: fit-content;
    margin: auto;
}

.quiz-intro--start-button button{
    border: none;
    background-color: #03045E;
    color: #eeeeee;
    width: 20vh;
    height: 7vh;
    border-radius: 12px;
    font-size: 1.2rem;
    padding: 2vh;
}

.quiz-intro--start-button button:hover{
    cursor: pointer;
}