.subject-tile {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: hsla(191, 100%, 43%, 0.4);
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    cursor: pointer;

    .svg-container {
        padding-bottom: 5px;
    }

    .name {
        font-family: var(--ofont-family);
        font-weight: 600;
    }
}