.quiz-body--result {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #96BFE5;
    font-family: var(--ofont-family);
    min-height: 90vh;

    .result--hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .hero-text {
            margin: 3% 0 5% 0;
        }
    
        .hero-text h3 {
            font-size: 2rem;
            text-align: center;
        }

        .mascot--ellipse {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ac9b9b;
            border-radius: 75px;
            height: 120px;
            width: 120px;

            img {
                width: 15vh;
                height: 15vh;
            }
        }
    }
}


.result--body {
    display: flex;
    flex-direction: column;

    .user-rewards {
        display: flex;
        flex-direction: column;

        .user-rewards-icons {
            display: flex;
            width: 100%;

            .reward--ellipse_parent {
                display: flex;
                width: 33%;
                justify-content: center;
                align-items: center;
                margin: 5% 0 2.5% 0;

                .reward--ellipse {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #03045E;
                    border-radius: 75px;
                    height: 7vh;
                    width: 7vh;
                    z-index: 1;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    
                    img {
                        width: 4vh;
                        height: 4vh;
                        margin: 20%;
                    
                    }
                }
            }
        }
    }

    .user-rewards-values {
        display: flex;
        width: 100%;

        div {
            width: 33%;
            padding: 2%;
            text-align: center;
        }
    }

    .user-rewards-headings {
        display: flex;
        width: 100%;

        div {
            width: 33%;
            text-align: center;
        }
    }

    .boosters-used {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;

        .boosters-info {
            display: flex;
            background-color: #03045E;
            padding: 1% 10%;
            justify-content: space-around;
            border-radius: 31px;

            .booster {
                margin: 0 10%;
            }

            img {
                width: 50px;
                height: 50px;
            }
        }

        h4 {
            padding-top: 1vh;
        }
    }
    
    .user--stats {
        display: flex;
        flex-direction: column;
        margin: 5% 0;

        .user-stats--headings {
            display: flex;
            justify-content: space-evenly;
            font-size: 1rem;
            padding-bottom: 0.5vh;

            .per-question-heading {
                margin-left: 8%;
            }

            .total-time-heading {
                margin-right: 8%;
            }
        }

        .capsule-container {
            display: flex;
            justify-content: center;

            .capsule--left {
                width: 18vh;
            }

            .capsule--right {
                width: 18vh;
            }
        }
    }
}

.result-buttons {
    display: flex;
    justify-content: center;
    padding: 0 0 1vh 0;

    button {
        width: 18vh;
        height: 7vh;
        border-radius: 19px;
        font-weight: bold;
        font-size: 1.2rem;
        margin: 2%;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        cursor: pointer;
    }

    .result-button--drs {
        background-color: #0b9bbb;
    }

    .result-button--done {
        color: #eeeeee;
        background-color: #03045E;
    }
}