.challenge-excerpt {
    display: flex;
    justify-content:space-between;
    padding: 3vh 0;
    background-color: #0077B6;
    margin-bottom: 1vh;
    border-radius: 2vh;

    .challenge-excerpt_level {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;

        .challenge-excerpt_level--bg {

            // border-bottom: 25px solid transparent; 
            // border-left: 60px solid #E1B03A; 
            // border-top: 25px solid transparent;

            p {
                font-family: var(--mfont-family);
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--color-text);
            }
        }
    }

    .challenge-excerpt_content {
        display: flex;
        flex-direction: column;
        padding: 0 1.5vh;
        width: 65%;
        gap: 1vh;

        p {
            font-family: var(--ofont-family);
            color: var(--color-text);
        }

        .challenge-excerpt_content--title {
            font-size: 1.25rem;
            font-weight: 700;
            letter-spacing: 1px;
        }

        p:nth-child(2) {
            font-size: 0.9rem;
            font-weight: 200;
        }
    }

    .challenge-excerpt_reward {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        width: 20%;

        img {
            width: 50%;
        }

        p {
            font-family: var(--ofont-family);
            color: var(--color-text);
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}